@use '@/style/variables' as *;

main {
    max-width: 30rem;
    margin: 0 auto;
    padding: $spacing-8 $spacing-16;

    background-color: $clr-mono20;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    height: $size-4;

    margin-bottom: $spacing-4;
    padding: $spacing-2;

    &:invalid:not(:placeholder-shown):not(.val-checking) {
        border-color: $clr-red70;

        &::placeholder {
            color: $clr-red90;
        }
    }

    &.no-margin {
        margin: 0;
    }
}

button.form-action {
    width: 100%;
    height: $size-5;
    margin: $spacing-2 0;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg-error {
    margin: $spacing-1 0;
    color: $clr-red70;
}

.msg-valid {
    margin: $spacing-1 0;
    color: $clr-green70;
}

.text-sm { 
    font-size: $text-sm;
}

.margin-block {
    margin-bottom: $spacing-4;
}