@use 'variables.scss' as *;
@forward 'inter.css';

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'InterVariable', sans-serif; }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    color: $clr-mono0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* 
    End CSS Reset
*/

*:focus-visible {
    outline: 2px solid $clr-mono0;
    outline-offset: 1px;
}

button {
    margin-top: $spacing-2;
    margin-bottom: $spacing-2;
    padding: $spacing-1 $spacing-2;

    background-color: $clr-mono90;
    border: 1px solid $clr-mono40;
    border-radius: 6px;

    &:hover {
        background-color: $clr-mono80;
    }

    &:active {
        background-color: $clr-mono70;
    }

    &:disabled {
        background-color: $clr-mono70;
    }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'] {
    background-color: $clr-mono100;
    border: 1px solid $clr-mono40;
    border-radius: 6px;

    &:disabled {
        background-color: $clr-mono70;
    }
}

h1 {
    margin: $spacing-3 0;
}

h2 {
    margin: $spacing-2 0;
}

h3 {
    margin: $spacing-1 0;
}
