@use 'variables.scss' as *;
@forward 'inter.css';
@forward 'reset.css';

:root {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: 'InterVariable', sans-serif;
    }
}

body {
    color: $clr-mono90;
    background-color: rgb(5, 5, 5);
}

*:focus-visible {
    outline: 2px solid $clr-mono0;
    outline-offset: 1px;
}

button,
.as-button {
    display: inline-block;

    padding: $spacing-1 $spacing-3;

    border: none;
    border-radius: 4px;

    color: $clr-mono0;
    background-color: $clr-mono90;

    text-decoration: none;
    text-align: center;

    &.btn-block {
        display: block;
        width: fit-content;
        margin-top: $spacing-2;
        margin-bottom: $spacing-2;
    }

    &.btn-inline-flex {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $spacing-1;
    }

    &.btn-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $spacing-1;

        width: fit-content;
        margin-top: $spacing-2;
        margin-bottom: $spacing-2;
    }

    &:hover {
        background-color: $clr-mono80;
    }

    &:active {
        background-color: $clr-mono70;
    }

    &:disabled {
        background-color: $clr-mono70;
    }

    &.outlined {
        background: none;
        border: 1px solid $clr-mono90;
        color: $clr-mono90;

        &:hover {
            background-color: $clr-mono20;
        }

        &:active {
            background-color: $clr-mono30;
        }

        &:disabled {
            color: $clr-mono60;
            border-color: $clr-mono60;
        }
    }

    &.text-only {
        color: $clr-mono90;
        background: none;

        &:hover {
            cursor: pointer;
            background-color: $clr-mono20;
        }

        &:active {
            background-color: $clr-mono30;
        }
    }

    &.content-only {
        background: none;
        border: none;
        padding: 0;
        margin: 0 $spacing-1;

        &:hover {
            cursor: pointer;
        }
    }

    &.btn-small {
        font-size: $text-sm;
    }
}

button.as-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0 $spacing-1;

    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'] {
    color: $clr-mono90;
    background-color: $clr-mono20;
    border: 1px solid $clr-mono40;
    border-radius: 6px;

    &:disabled {
        color: $clr-mono60;
        background-color: $clr-mono10;
    }

    &::placeholder {
        color: $clr-mono60;
    }
}

a {
    color: $clr-mono100;

    &:visited {
        color: $clr-mono80;
    }
}

h1 {
    margin: $spacing-3 0;
}

h2 {
    margin: $spacing-2 0;
}

h3 {
    margin: $spacing-1 0;
}

// Utilities

.util-center-x {
    margin-left: auto;
    margin-right: auto;
}