$sg: 2px;
$spacing-1: $sg * 1;
$spacing-2: $sg * 2;
$spacing-3: $sg * 3;
$spacing-4: $sg * 4;
$spacing-5: $sg * 5;
$spacing-6: $sg * 6;
$spacing-7: $sg * 7;
$spacing-8: $sg * 8;
$spacing-9: $sg * 9;
$spacing-10: $sg * 10;

$mg: 0.25em;
$margin-1: $mg * 1;
$margin-2: $mg * 2;
$margin-4: $mg * 4;
$margin-8: $mg * 8;
