// Colors
$clr-blue30: rgb(0, 0, 204);

$clr-red100: rgb(255, 244, 245);
$clr-red90: rgb(250, 218, 220);
$clr-red50: rgb(253, 65, 81);
$clr-red70: rgb(252, 141, 152);

$clr-green70: rgb(163, 202, 115);

$clr-primary80: rgb(115, 97, 249);

$clr-mono100: rgb(255, 255, 255);
$clr-mono90:  rgb(229, 229, 229);
$clr-mono80:  rgb(204, 204, 204);
$clr-mono70:  rgb(178, 178, 178);
$clr-mono60:  rgb(153, 153, 153);
$clr-mono50:  rgb(127, 127, 127);
$clr-mono40:  rgb(102, 102, 102);
$clr-mono30:  rgb(76, 76, 76);
$clr-mono20:  rgb(51, 51, 51);
$clr-mono10:  rgb(25, 25, 25);
$clr-mono0:   rgb(0, 0, 0);

// Sizing and spacing
$size-base: 8px;
$size-1: $size-base * 1;
$size-2: $size-base * 2;
$size-3: $size-base * 3;
$size-4: $size-base * 4;
$size-5: $size-base * 5;
$size-6: $size-base * 6;
$size-8: $size-base * 8;
$size-10: $size-base * 10;
$size-12: $size-base * 12;
$size-16: $size-base * 16;
$size-20: $size-base * 20;
$size-24: $size-base * 24;
$size-32: $size-base * 32;
$size-48: $size-base * 48;
$size-64: $size-base * 64;

$spacing-base: 0.25em;
$spacing-1: $spacing-base * 1;
$spacing-2: $spacing-base * 2;
$spacing-3: $spacing-base * 3;
$spacing-4: $spacing-base * 4;
$spacing-8: $spacing-base * 8;
$spacing-10: $spacing-base * 10;
$spacing-12: $spacing-base * 12;
$spacing-16: $spacing-base * 16;
$spacing-20: $spacing-base * 20;
$spacing-24: $spacing-base * 24;
$spacing-32: $spacing-base * 32;

// Typography
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;

// Border radius
$rounded-none: 0;
$rounded-sm: 2px;
$rounded-md: 6px;
$rounded-full: calc(infinity * 1px);